footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  margin-top: 50px;
}

footer h3 {
  margin-bottom: 20px;
  font-weight: 500;
}
footer ul li {
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.legal {
  padding: 15px;
  background-color: #000;
  color: grey;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}
.legal i {
  color: red;
}
@media screen and (max-width: 768px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
