.bisnis .box {
    margin-bottom: 30px;
    margin-left: 2px;
  }
  .bisnis .text {
    padding: 0 30px;
  }
  .bisnis .images {
    width: 320px;
    height: 220px;
  }
  .bisnis img {
    width: 320px;
    height: 220px;
    object-fit: cover;
  }
  .bisnis h1 {
    font-size: 22px;
  }
  @media screen and (max-width: 768px) {
    .bisnis img,
    .bisnis .images {
      height: 350px;
    }
  }
  